#!/bin/bash
# shellcheck disable=all
MIAB_curl="/usr/bin/curl -X PUT --user"
MIAB_Email="ch@chasehall.net"
MIAB_PW=$(<~/MIAB_PW.txt)
MIAB_Link="https://mail.chse.dev/admin/dns/custom"
MIAB="$MIAB_curl $MIAB_Email:$MIAB_PW $MIAB_Link"
CF_auth_email="YOUR-CLOUDFLARE-EMAIL"
CF_auth_key=$(<~/CF_auth_key.txt)
CF="/usr/bin/bash /root/Scripts/WWW/cf_ddns.sh $CF_auth_email $CF_auth_key"

$CF ZONEIDHERE domain.tld true
# true means orange cloud
/usr/bin/sleep 3
$CF ZONEIDHERE domain.tld false
# false means gray cloud
/usr/bin/sleep 3
$MIAB/domain.tld
/usr/bin/sleep 3
# [...]
