#!/bin/bash
# shellcheck disable=all
CF_auth_email="YOUR-CLOUDFLARE-EMAIL"
CF_auth_key=$(<~/CF_auth_key.txt)
CF="/usr/bin/bash /root/Scripts/WWW/cf_ddns.sh $CF_auth_email $CF_auth_key"

$CF ZONEIDHERE domain.tld true
# true means orange cloud
/usr/bin/sleep 3
$CF ZONEIDHERE domain.tld false
# false means gray cloud
/usr/bin/sleep 3
# [...]
